body {
  background-color: #fff;
}

.choices img {
  width: 15%;
  margin-right: 2.5%;
  cursor: pointer;
  opacity: 0.5;
  transition: 1s all ease;
}

.choices img:hover {
  opacity: 1;
}

img {
  max-width: 10%;
}
