<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Rock Paper Scissors</title>
    <link href='https://fonts.googleapis.com/css?family=Changa+One|Open+Sans:400,400italic,700,700italic,800' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    <header>
      <a href="/" class="logo">
        <h1>Rock Paper Scissors</h1>
      </a>
    </header>
    <div id="wrapper">
      <div id="choices">
        <img src="img/rock.png" data-choice='rock'>
        <img src="img/paper.png" data-choice='paper'>
        <img src="img/scissors.png" data-choice='scissors'>
        <h2>Player 1 Choose your weapon!</h2>
        <button  id="computer" type="submit">Or Play Computer v Computer?</button>
      </div>
      <ul id="results"></ul>
      <footer>
        <a href="https://twitter.com/LanzonK"><img src="img/twitter-wrap.png" alt="Twitter Logo" class="social-icon"></a>
        <p>&copy; 2015 Kevin Lanzon</p>
      </footer>
    </div>
    <script src="js/Game.js"></script>
    <script src="js/Player.js"></script>
    <script src="js/Display.js"></script>
    <script src="js/Computer.js"></script>
  </body>
</html>
